* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background: #f88cb4;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 450px;
  height: 100%;
  background: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  padding: 35px;
}

.persons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn {
  width: 100%;
  background-color: #f88cb4;
  border: 0;
  border-radius: 0.2rem;
  color: #fff;
  height: 50px;
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  .card {
    margin: 60px 60px;
    width: 90vw;
    height: 100%;
    min-height: 70vh;
  }
}

.btn:hover {
  cursor: pointer;
}

.flex-person {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-2 {
  background-color: #f88cb4;
  border: 0;
  border-radius: 0.2rem;
  color: #fff;
  width: 40px;
  font-size: 1.5rem;
  cursor: pointer;
}
