* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.person {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.person-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.person-text {
  font-size: 0.7rem;
}

.person-text h2 {
  font-weight: 500;
}

.person-text h3 {
  font-weight: 400;
}
